@use '../variables';

.header {
    max-width: 960px;
    height: 100vh;
    max-height: 75%;
    margin: 5vh auto 0;
    color: variables.$grey1;

    @media (max-width: 768px) {
        height: 100%;
        max-height: fit-content;
        padding-bottom: 10vh;
    }


    &__container {
        width: 100%;
        text-align: center;

        &__title {
            font-size: 66px;

            @media (max-width: 768px) {
                font-size: 40px;
            }
        }

        &__image {
            max-width: 100%;
            margin-top: 2vh;

            img {
                width: 400px;
                border-radius: 26px;
                box-shadow: 1px 1px 20px 1px variables.$black;

                @media (max-width: 768px) {
                    width: 360px;
                }
            }
        }

        &__timer {
            margin-top: 6.5vh;
            background-color: rgba(variables.$black, .4);
            font-size: 54px;
            padding: 10px;
            border-radius: 12px;
            width: fit-content;
            margin: 2vh auto 0;
            display: block;

            @media (max-width: 768px) {
                font-size: 36px;
            }

            .timer__container {
                display: flex;
                gap: 12px;
            }
        }
    }
}