@use 'variables';
@use 'reset';
@use 'components/header';
@use 'components/party-infos';
@use 'components/footer';

body {
    background-color: variables.$wine1;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.section-split {
    display: block;
    max-width: 90vw;
    width: 100%;
    background-color: rgba(variables.$grey1, .6);
    height: 2px;
    margin: 0 auto;
}